.DS_Store
*VERSION
!lib/**/*VERSION
*.user
*.suo
*resharper.user
_ReSharper.*/
*.sln.cache
obj
bin
!lib/**/bin
temp
archive
symbols
/Reports/**
specifications/**
specifications.html
junit.report.xml
nunit.results.xml
/TestResult.xml
VersionOne.Domain/Sql2k/DataSchema.sql
VersionOne.Web/user*.config
VersionOne.Web/log4net.config
VersionOne.Web/scripts/bundles/*
VersionOne.Web/scripts/_V1.js
VersionOne.Web/scripts/_Mobile.js
VersionOne.Web/scripts/views/**/all.html.tmpl
VersionOne.Web/MetaDomain/UIMeta.Implementation.cs.xml
VersionOne.Web/help/
VersionOne.Setup-*.exe
user*.config
.nuget/
packages/
.vs/

# jasmine junit output
TEST-*.xml

# ignore LESS-generated CSS files
VersionOne.Web/css/*.css
VersionOne.Web/css/neo-ui/*.css
VersionOne.Web/css/mobile/mobile.css
VersionOne.Web/css/deliveryStream/invocationDetails.css
VersionOne.Web/Areas/Roadmapping/Content/Styles/*.css

*.swp
*.eprj
*.orig
*.vs10x
*.vimsession
*.received.txt

/VersionOne.Web/Custom
/VersionOne.Web/Strings/*.Company.txt
/VersionOne.Web/scripts/V1.CompiledTemplates.js
/VersionOne.Web/scripts/V1.Perspective.js
/VersionOne.Web/logs
/VersionOne.Web/css/images/svg/*bundle.svg

V1Enterprise.6.0.ReSharper
arq.CompilerException.txt
setup.cab
*~
.idea

chromedriver.log
.idea
rerun.txt
temp.bak
/reports
*.orig
*.swp
TAGS
results.htm*
vendor/bundle
cucumber/
capybara*.html
report.html

/node_modules
/lib/nodejs/node_modules
npm-debug.log

# es6
/VersionOne.Web/v1Next/node_modules
/VersionOne.Web/scripts/V1Next

# RubyMine?
.idea

/screenshots
/lib/ildasm

# NCrunch
*NCrunch*
*ncrunch*
